 .sidebar{
    width: 300px;
    position: fixed;
    top: 80px;
    flex-shrink: 0;
    background-color: rgb(255, 250, 250);
    height:100%;
    overflow:auto;
    box-shadow: 0px 5px 3px 0px rgb(69, 69, 69) ;
  }
  .sidebar-item{
    padding: .75em 1em;
    display: block;
    transition: background-color .5s;
  }
  .sidebar-title{
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
  }
  .sidebar-main-title{
    padding: .7em;
    font-size:1.2em;
    background: darkblue;
    color: white;
  }
  .sidebar-title span i{
    display: inline-block;
    width: 1.5em;
  }
  .sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
  }
  .sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
  }
  .sidebar-item.open > .sidebar-content{
    height: auto;
  }
  
  .sidebar-item.plain{
    color: black;
    text-decoration: none;
  }
  .sidebar-item.plain:hover{
    color: blueviolet;
  }
  .sidebar-item.plain i{
    display: inline-block;
    width: 1.7em;
  }

  @media screen and (max-width:480px) {
     .sidebar{
          position: absolute !important;
          top:0px;
          z-index: 1;
     }
     .bi-x-lg{
         display: block;
         float: right;
         font-size: 1.2em;
     }
  }